.dayOfTheWeek,
.dayOfTheWeekToday {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
   background-color: rgb(5, 16, 37);
}

.dayOfTheWeekToday {
  background-color: rgba(12, 30, 65, 0.986);
}

.weekdayHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px white solid;
}

.weekdayHeader .dateNumber {
  font-size: 30px;
  border-radius: 20px;
  width: 50px;
}

.dateNumber {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  overflow-y: auto; 
}

.task {
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  background-color: rgb(241, 46, 46);
}

.completedTask {
  background-color: rgba(49, 240, 49, 0.568);
}

.taskActions {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.creationWrapper {
  margin-top: auto; 
  width: 100%;
}

.createTaskContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
}

.createTaskContainer input {
  width: 100%;
  min-width: 0; 
  box-sizing: border-box;
}

.formActions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.creationWrapper {
  display: flex;
  flex-direction: column;
}

.initiateCreateBtn {
  padding: 5px;
  cursor: pointer;
}

.saveBtn {
  background-color: rgb(185, 218, 250);
  border: 1px solid rgb(197, 196, 196);
  padding: 5px;
  cursor: pointer;
}


