.weekdayHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(110, 151, 199);
}

.dayOfTheWeek {
  display: flex;
  flex-direction: column;
  background-color: rgb(171, 206, 230);
  width: 100px;
}

.task {
  display: flex;
  flex-direction: column;
  background-color: rgb(213, 179, 247);
  margin-top: 10px;
  margin-bottom: 10px;
}

.task p {
  margin: 0;
}

