.main {
  display: flex;
}

.week {
  display: flex;
  gap: 0px;
  height: 700px;
  background-color: bisque;
}

.dayOfTheWeek {
  display: flex;
  flex-direction: column;
  background-color: rgb(171, 206, 230);
  border: 1px solid black;
  width: 100px;
}




